<div class="row">
	<div class="col s6">
		<h3><%=animal.species_name%></h3>
				<ul>
					<li><b>Scientific Name:</b> <%=animal.scientific_name%></li>
					<li><b>Image:</b> <img src="<%=animal.image_url%>"></li>
					<li><b>Description:</b> <%=animal.description%></li>
				</ul>
	</div>
</div>